@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.component-flexbox {
		display: flex;
		border: 1px solid white;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}

	.component-title {
		@apply text-xl font-bold;
	}

	.dice-block {
		@apply relative h-9 w-9 rounded-sm border-2 border-black;
	}
}

/* body {
  padding: 12px;
} */

.bet-error {
  transform: scale(0);
}

.bet-error-visible {
  animation: scale-up ease-in-out 0.2s;
  transform: scale(1);
}

@keyframes scale-up {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

#dice-wrapper {
	pointer-events: none;
}
